<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="retry failed Test Suit"  >

  
  <listeners>
  		<listener class-name="Analyzer.MyTransform"/>
  </listeners>

  <test name="retry Test" >
  
  <classes>
  	<class name="RetryLogicUsingTestNG.TestNGRetry.RetryTest"/>
  </classes>
    

  </test>
 

  
</suite>
	